name: Build on commit or tag
on:
  push:
    branches:
    - master
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        
      - name: go get 
        run: go get -u github.com/$(echo $GITHUB_REPOSITORY)
